#services{
    /* border: 1px solid black; */
    margin-top: 10%;
    background-color: whitesmoke;
    justify-content: center;
    height:25vw;
}
#services h2{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 2.1vw;
}
#services ul,li{
    display: inline;
    padding: 30px 40px;
    font-size: 20px;
   
}
li{
    margin-right: 20px;
    margin-left: 10px;
    background-color: white;
}
li:first-child{
    background-color: orangered;
}
li:hover{
    box-shadow: -1px -1px 0px -3px rgba(64,64,64,0.75);
    -webkit-box-shadow: -1px -1px 8px 1px rgba(64,64,64,0.75);
    -moz-box-shadow: -1px -1px 8px 1px rgba(64,64,64,0.75);
}



*{
    margin: 0;
}
#mywebsite {
    margin-top: 200px;
    padding:auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#landing{
    background-image:linear-gradient(to bottom, #00000057, #fffcfc79), url(../img/landing-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 103vh;

    display: grid;
    place-content: center;

    color: white;
    
}
#landing :first-child{
    font-size: 3.2vw;
    padding-bottom: 7%;
    margin: -5%;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.34);
}
#landing :last-child{
    font-size: 1.3vw;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.34);
}

#blog{
    /* border: 2px solid black; */
    margin-top: 10%;
    justify-content: center;

}
#blog :first-child{
    font-size: 2.1vw;
    padding-bottom: 3%;
}
#blog img{
    width: 267px;
    height: 140px;
    border-radius: 5px;
    /* border: 1px solid black; */
}
div{
    border: 2px solid rgb(248, 242, 242);
    display: inline-block;
    align-content: center;
    background-color: whitesmoke;
    
    box-shadow: -3px -3px 0px -4px rgba(64,64,64,0.75);
    -webkit-box-shadow: -3px -3px 10px -3px rgba(64,64,64,0.75);
    -moz-box-shadow: -3px -3px 10px -3px rgba(64,64,64,0.75);
    
    width: 267px;
    height: 305px;

    margin-left:4px;
    margin-right: 4px;
    text-align: left;
    text-align: justify;
    border-radius: 10px;
}
div:nth-child(4){
    background-color: rgba(0, 0, 0, 0.87);
    border: 1px solid black;
    color: white;
   
}

#blog h3{
    font-size: 1.3em;
    text-align: left;
    padding-left: 10px;
    margin:3px;
}
#blog p{
    font-size: .8em;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 20px;
    margin:10px;
    /* border: 1px solid black; */
  
}

#blog a{
    /* border: 1px solid black; */
    color: gray;
    font-size: 12px;
    text-decoration: none;
    padding-left: 20px;
    margin-top: 50px;
}
#blog a:hover{
    color:orangered;
}


header{
    padding: auto;
    border: 2px solid black;
    height: 20px;

}

footer{
    display: grid;
    place-content: center;
    height: 30px; ;
    background-color: blue;
    color: white;
}
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  #services {
    
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-sm-1   {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
  }


  #services{
    /* border: 1px solid black; */
    margin-top: 10%;
    background-color: whitesmoke;
    justify-content: center;
    height:25vw;
}
#services h2{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 2.1vw;
}
#services ul,li{
    display: inline;
    padding: 30px 40px;
    font-size: 20px;
   
}
li{
    margin-right: 20px;
    margin-left: 10px;
    background-color: white;
}
li:first-child{
    background-color: orangered;
}
li:hover{
    box-shadow: -1px -1px 0px -3px rgba(64,64,64,0.75);
    -webkit-box-shadow: -1px -1px 8px 1px rgba(64,64,64,0.75);
    -moz-box-shadow: -1px -1px 8px 1px rgba(64,64,64,0.75);
}